* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  --text-color: #0f172a;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  height: 100vh;
  display: grid;
  place-content: center;
}
main {
  display: grid;
  gap: 4.4rem;

  padding: 3.4rem 8rem;

  background: #ffffff;
  box-shadow: 0rem 0.4rem 3.2rem rgba(15, 23, 42, 0.15);
  border-radius: 1.6rem;
}

section h2 {
  font-weight: 600;
  font-size: 2rem;
  color: var(--text-color);
}

.conversor .wrapper {
  display: flex;
  gap: 1.6rem;
  margin-top: 1.6rem;
  align-items: center;
}

.money-wrapper {
  background: #ffffff;
  outline: 0.1rem solid #94a3b8;
  width: 27rem;
  padding: 1.6rem;
  border-radius: 0.8rem;
  display: flex;
  align-items: center;
  position: relative;
}

.money-wrapper:hover,
.money-wrapper:has(:focus) {
  outline: 0.25rem solid #7c3aed;
}

.amount {
  border: none;
  font-size: 1.6rem;
  line-height: 1.4rem;
  color: var(--text-color);
  width: 50%;
}

.amount:focus {
  outline: 0;
}

.dropdown {
  --bg-hover: #ede9fe;
  position: absolute;
  top: 0;
  right: 0;
  width: 12.4rem;

  height: 5.6rem;
  overflow: hidden;
}

.dropdown:hover {
  overflow: initial;
  height: fit-content;
}

.selected {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  border-radius: 0 0.8rem 0.8rem 0;

  padding: 1.3rem;
  cursor: pointer;
}

.selected::before {
  content: "";
  height: 2.4rem;
  width: 0.1rem;
  background-color: #94a3bb;
  position: absolute;
  left: 0;
}
.selected::after {
  content: "";
  width: 2.4rem;
  height: 2.4rem;
  background: url(../assets/arrow-down.svg) no-repeat center;
}

li:hover,
.selected:hover {
  background-color: var(--bg-hover);
}

.fi.fis {
  font-size: 2.4rem;
  border-radius: 50%;
}

ul {
  list-style: none;
  background: #ffffff;
  box-shadow: 0px 4px 16px rgba(15, 23, 42, 0.15);
  border-radius: 8px;
  padding: 0;
  width: 16rem;
  max-height: 17rem;
  margin-top: 0.8rem;
  overflow-y: scroll;
  position: relative;
  z-index: 1;
}

li {
  padding: 2rem 1.6rem;

  display: flex;
  align-items: center;
  gap: 0.8rem;
  cursor: pointer;
}
.cambio .wrapper {
  margin-top: 2.4rem;
}

.tooltip {
  background-color: #ffffff;
  box-shadow: 0 0.4rem 1.6rem rgb(15 25 42 / 15);
  border-radius: 0.4rem;
  padding: 0.8rem;
}

.chart-controls {
  display: flex;
  justify-content: space-between;
  margin: -2.2rem 0.8rem 0 4.8rem;
}

.chart-controls button {
  background-color: transparent;
  border: 0;
  width: 4rem;
  height: 2.4rem;
  font-size: 1.2rem;
  line-height: 1.6rem;
  text-align: center;
  cursor: pointer;
}

button:hover {
  background: #7c3aed;
  border-radius: 99.9rem;
  color: white;
  opacity: 0.98;
  padding: 0.4rem 0.8rem;
}

button.active {
  background: #7c3aed;
  border-radius: 99.9rem;
  color: white;
  padding: 0.4rem 0.8rem;
}

@media (max-width: 48rem) {
  main {
    padding: 1.6rem;
    gap: 3.2rem;
  }
  section h2 {
    font-size: 1.6rem;
  }
  .conversor .wrapper {
    flex-direction: column;
    gap: 0.8rem;
  }
}
